<head>
    <title>Linked List Play</title>

    <script type="text/javascript" src="scripts/LinkedList.js"></script>
    <script type="text/javascript" src="scripts/LinkedListNode.js"></script>
    <script>
    var linked = new LinkedList(null, null);
    </script>


    <style>
        textarea {
            height: 40px;
            width: 200px;
            resize: none;
        }
    </style>

</head>

<body>

    <div style="margin: 0 auto; width: 500px; height: 175px; display:table;">
        <div style="display:table-row;vertical-align:middle">
            <label style="margin-left:80px;float:left" text-align:right">Element:</label><div style=" margin-left: auto;margin-right: auto; width:150px;"><textarea id="elem" onclick="this.select()"></textarea></div>
        </div>

        <div style="display:table-row;vertical-align:middle;">
            <div style="margin-left: auto;margin-right: auto; text-align:center;"><button style=" width:150px;margin-right:5px;margin-top:5px;" onclick="linked.insert()">Insert</button><button style=" width:150px;margin-right:5px;margin-top:5px;" onclick="linked.append()">Append</button><button style=" width:150px;margin-right:5px;margin-top:5px;" onclick="linked.remove()">Remove</button><button style=" width:150px;margin-right:5px;margin-top:5px;" onclick="linked.prev()">Previous</button><button style=" width:150px;margin-right:5px;margin-top:5px;" onclick="">Reverse</button><button style=" width:150px;margin-right:5px;margin-top:5px;" onclick="linked.next()">Next</button><button style=" width:150px;margin-right:5px;margin-top:5px;" onclick="linked.moveToStart()">Move to Start</button><button style=" width:150px;margin-right:5px;margin-top:5px;" onclick="linked.displayLength()">Display Length</button><button style=" width:150px;margin-right:5px;margin-top:5px;" onclick="linked.moveToEnd()">Move to End</button><button style=" width:150px;margin-right:5px;margin-top:5px;" onclick="linked.clear()">Clear List</button></div>
        </div>
        <div style="display:table-row;vertical-align:middle;">
            <span style="display:block;margin-left: auto;margin-right: auto; text-align:center;" id="resultText">Node: Empty</span>
        </div>

    </div>


</body>