<head>
<title>Stringplay</title>

<script type="text/javascript" src="scripts/Strings.js"></script>
<script>
    var strings = new Strings();
</script>


<style>
    textarea {
        height:40px;
        width: 200px;
        resize:none;
    }
</style>

</head>

<body>
    
<div style="margin: 0 auto; width: 500px; height: 200px; display:table;">
    <div style="display:table-row;vertical-align:middle">
        <label style="margin-left:80px;float:left"text-align:right">Enter string 1:</label><div style=" margin-left: auto;margin-right: auto; width:150px;"><textarea id="stringEntry1"></textarea></div>

    </div>
    <div style="display:table-row;vertical-align:middle;">
        <label style="margin-left:80px;float:left" text-align:right">Enter string 2:</label><div style=" margin-left: auto;margin-right: auto; width:150px;"><textarea id="stringEntry2"></textarea></div>

    </div>

    <div style="display:table-row;vertical-align:middle;">
        <div style="margin-left: auto;margin-right: auto; text-align:center;"><button style=" width:150px;margin-right:5px;" onclick="strings.checkPalindrome()">Palindrome?</button><button style=" width:150px;margin-right:5px;" onclick="strings.removeAll()">Remove all s2 from s1</button></div>
    </div>

    <div style="display:table-row;vertical-align:middle;">
        <span style="display:block;margin-left: auto;margin-right: auto; text-align:center;" id="resultText"></span>
    </div>

</div>


</body>